body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  ion-content {
    --background: #ccc url("../../../assets/welcomeBackground.jpeg") no-repeat center center / cover;
}

  .background {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 800px;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
  }

  .centered-div {
    z-index: 1; /* Ensure the content is above the overlay */
    width: 300px;
    text-align: center;
    color: white;
  }

  ion-button {
    max-width: 300px;
    width: 100%;
    margin: 10px 0;
  }

      h1{
        color: white;
      }

      p{
        color: white;
      }
