.roundedInput {
    --border-color: rgba(128, 128, 128, 0.349);
    --border-radius: 10px;
    --border-width: 1px;
    --box-shadow: 2px gray;
    --highlight-height: 0;
    // --background: #f8f9fa;
   }