.roundedInput {
  --border-color: rgba(128, 128, 128, 0.349);
  --border-radius: 10px;
  --border-width: 1px;
  --box-shadow: 2px gray;
  --highlight-height: 0;
  // --background: #f8f9fa;
 }


 .event-listing ion-row{
  margin-bottom: 10px;
 }

 .mb-20{
  margin-bottom: 20px;
 }
 .custom-textarea {
  margin-top: 10px;
  height: 150px;
  background-color: #ffff;
  border-radius: 10px;
  color: black;
  padding: 10px;
}

ion-row{
margin-bottom: 10px;
}

